.settings
gen
obj
libs
jni
settings.gradle
.project
build.gradle
build.xml
config.make
ic_launcher-web.png
Makefile
proguard-project.txt
project.properties
.classpath
.cproject
bin/dexedLibs
bin/classes
bin/androidEmptyExample.apk
bin/AndroidManifest.xml
bin/classes.dex
bin/jarlist.cache
bin/R.txt
bin/resources.ap_
